.banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 70%), url(../../images/banner.jpg);
  color: white;
  padding: 50px 0px 110px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1, h2 {
  text-align: center;
}

.banner p {
  margin-bottom: 40px;
  text-align: justify;
}
